{% extends 'base.html.twig' %}

{% block title %}Requete index{% endblock %}

{% block body %}
    <h1>Page de gestion des requêtes</h1>

    <a href="{{ path('app_requete_new') }}" class="btn btn-primary my-3">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created_at</th>
                <th>Type</th>
                <th>Deadline</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for requete in requetes %}
            <tr>
                <td>{{ requete.id }}</td>
                <td>{{ requete.createdAt ? requete.createdAt|date('d/m/Y') : '' }}</td>
                <td>{{ requete.type }}</td>
                <td>{{ requete.deadline ? requete.deadline|date('d/m/Y') : '' }}</td>
                <td>{{ requete.title }}</td>
                <td>{{ requete.description }}</td>
                <td>
                    <a href="{{ path('app_requete_show', {'id': requete.id}) }}">show</a>
                    <a href="{{ path('app_requete_edit', {'id': requete.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
