{% extends 'base.html.twig' %}

{% block title %}Ami{% endblock %}

{% block body %}
    <h1>Ami</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ami.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ ami.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ami.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ami_index') }}">back to list</a>

    <a href="{{ path('app_ami_edit', {'id': ami.id}) }}">edit</a>

    {{ include('ami/_delete_form.html.twig') }}
{% endblock %}
